<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guld Legal Documents</title>

    <meta property="og:url" content="https://guld.legal" />
    <meta property="og:image" content="http://guld.legal/img/og.jpg" />
    <meta property="og:title" content="Guld Legal Documents" />
    <meta property="og:description" content="Open Source, Peer to Peer Legal Documents" />

    <!-- favicon -->
    <link rel="icon" href="img/favicon.png">
    <meta name="theme-color" content="#000000">

    <!-- web-fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- style css -->
    <link href="css/legal.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="header d-print-none">
        <!-- Navigation -->
        <nav class="navbar main-menu navbar-expand-sm navbar-light">
            <h1 id="logo">
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="logo">
		               <img src="/img/guld_legal.svg" class="img-responsive" alt="Guld Legal">
		           </span>
                </a>
            </h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		   </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
<li class="nav-item"><a class="nav-link" href="/../../index.html">index</a></li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button" aria-haspopup="true" href="#">contract</a>
<div class="dropdown-menu">
<div class="dropdown-divider"></div>
clause

<div class="dropdown-divider"></div>
USA

<div class="dropdown-divider"></div>
NY

<a class="dropdown-item" href="/../clause/USA/NY/USA_NY_GULD_DISCLAIMER.html">USA NY GULD DISCLAIMER</a>



<div class="dropdown-divider"></div>
template

<div class="dropdown-divider"></div>
Ethereum

<a class="dropdown-item" href="/Ethereum/ERC20_GULD_CONTRACT.html">ERC20 GULD CONTRACT</a>
<a class="dropdown-item" href="/Ethereum/ERC20_HUMAN_CONTRACT.html">ERC20 HUMAN CONTRACT</a>
<a class="dropdown-item" href="/Ethereum/ETHEREUM_MIGRATION_CONTRACT.html">ETHEREUM MIGRATION CONTRACT</a>

<a class="dropdown-item" href="/GRANT_BOUNTY_CONTRACT.html">GRANT BOUNTY CONTRACT</a>
<a class="dropdown-item" href="/GROUP_MEMBERSHIP_AGREEMENT.html">GROUP MEMBERSHIP AGREEMENT</a>
<a class="dropdown-item" href="/GULD_ADDRESS_REGISTRATION_AGREEMENT.html">GULD ADDRESS REGISTRATION AGREEMENT</a>
<a class="dropdown-item" href="/GULD_CHAIN_REGISTRATION_AGREEMENT.html">GULD CHAIN REGISTRATION AGREEMENT</a>
<a class="dropdown-item" href="/GULD_GROUP_REGISTRATION_AGREEMENT.html">GULD GROUP REGISTRATION AGREEMENT</a>
<a class="dropdown-item" href="/GULD_INDIVIDUAL_REGISTRATION_AGREEMENT.html">GULD INDIVIDUAL REGISTRATION AGREEMENT</a>
<a class="dropdown-item" href="/GULD_MASTER_AGREEMENT.html">GULD MASTER AGREEMENT</a>
<div class="dropdown-divider"></div>
ledger

<a class="dropdown-item" href="/ledger/GULD_LEDGER_REGISTRATION_AGREEMENT.html">GULD LEDGER REGISTRATION AGREEMENT</a>
<a class="dropdown-item" href="/ledger/TOKEN_TRANSFER_AGREEMENT.html">TOKEN TRANSFER AGREEMENT</a>
<div class="dropdown-divider"></div>
individual

<a class="dropdown-item" href="/ledger/individual/30_MIN_1_TOPIC.html">30 MIN 1 TOPIC</a>
<a class="dropdown-item" href="/ledger/individual/ADVISOR_REVENUE_SHARE.html">ADVISOR REVENUE SHARE</a>
<a class="dropdown-item" href="/ledger/individual/HODL_REDEMPTION.html">HODL REDEMPTION</a>
<a class="dropdown-item" href="/ledger/individual/INDIVIDUAL_TOKEN_SALE.html">INDIVIDUAL TOKEN SALE</a>
<a class="dropdown-item" href="/ledger/individual/PREMIUM_RATE_REDEMPTION.html">PREMIUM RATE REDEMPTION</a>
<a class="dropdown-item" href="/ledger/individual/PROFESSIONAL_FLEX_REDEMPTION.html">PROFESSIONAL FLEX REDEMPTION</a>
<a class="dropdown-item" href="/ledger/individual/SELFIE_REDEMPTION.html">SELFIE REDEMPTION</a>
<a class="dropdown-item" href="/ledger/individual/SHAVE BEARD REDEMPTION.html">SHAVE BEARD REDEMPTION</a>
<a class="dropdown-item" href="/ledger/individual/SPEECH_REDEMPTION.html">SPEECH REDEMPTION</a>
<a class="dropdown-item" href="/ledger/individual/TOPLESS_30_MIN_1_TOPIC.html">TOPLESS 30 MIN 1 TOPIC</a>


<div class="dropdown-divider"></div>
trade

<a class="dropdown-item" href="/trade/INTERNATIONAL_SALE_GOODS_U1000.html">INTERNATIONAL SALE GOODS U1000</a>
<a class="dropdown-item" href="/trade/SALES-COMMISSION-AGREEMENT.html">SALES COMMISSION AGREEMENT</a>


</div></li>
</ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid">

        <section id="content" class="container">
            <div class="row row-offcanvas row-offcanvas-left">
                <div class="col-12">
                    <div class="room">
                        <h1>Guld Address Registration Agreement</h1>
<p>Effective Date ________ START_TIME</p>
<h2>1. Parties</h2>
<h3>1.1.</h3>
<p>This contract Is between guld, in Panama, and ________ PARTY2_NAME,________ PARTY2_KEY located in ________ LOCATION2.</p>
<h2>2. Purpose</h2>
<h3>2.1. Register Address</h3>
<p>The purpose of this contract is for ________ PARTY2_NAME to register official address(es) ________ ADDRESS_LIST for the ________ NETWORK network.</p>
<h3>2.2. Private Key Owner</h3>
<p>________ PARTY2_NAME certifies that they have access to the private key(s) associated with ________ ADDRESS_LIST.</p>
<h3>2.3. Individual Address Limit</h3>
<p>No more than 1 address may be registered per individual guld member name.</p>
<h3>2.4. Group Address Limit</h3>
<p>No more than 10 addresses may be registered per group guld member name.</p>
<h2>3. Payment</h2>
<h3>3.1.</h3>
<p>________ PARTY2_NAME must pay a one time registration fee of ________ ADDRESS_REGISTRATION_FEE GULD to <code>guld:Liabilities</code>, also creating a corresponding, negative posting to <code>guld:Income:register:address:$NETWORK:$ADDRESS</code> for each ADDRESS in ADDRESS_LIST.</p>
<h2>4. Amendments</h2>
<h3>4.1.</h3>
<p>Any amendments to this Agreement shall be made in writing and signed cryptographically by guld, and published to guld blocktree branches as well as the ________ NETWORK network, including the amendments to the writing requirement stated in this provision.</p>
<h2>5. ANTI-MONEY LAUNDERING</h2>
<h3>5.1.</h3>
<p>The parties agree that this Agreement shall not be used for any illegal purpose.</p>
<h2><strong>6. ARBITRATION</strong></h2>
<h3>6.1.</h3>
<p>All disputes of or related to the formation, performance, or execution of this contract, if not resolved by the parties, shall be submitted to the sole jurisdiction of ________ ARBITRATOR and agree to abide by the terms of the award, under the New York Convention on Enforceability.</p>
<h2>7. Signature</h2>
<h3>7.1.</h3>
<p>Both parties agree to sign this contract with a cryptographic key, unique to each party. By signing this agreement, both parties represent that they are authorized to enter into this agreement.</p>
<p>The parties have executed this Agreement on the date and time stated in their cryptographic signatures.</p>
<p>guld</p>
<p>guld</p>
<p>________ PARTY2_NAME</p>
<p>________ PARTY2_KEY</p>
<h5>Guld Meta-data, not part of the contract!</h5>
<p><strong>BOUNTY: 1000 GULD</strong></p>


                    </div>
                </div>
            </div>

        </section>
        <footer class="footer">
            <div class="row">
                <div class="col-12 text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://guld.info">Learn</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://guld.tech">Tech</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://guld.legal">Legal</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://guld.gg">Games</a>
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://t.me/guldblocktree">
                                <i class="fab fa-telegram-plane"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/guldcoin">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://bitbucket.org/guld">
                                <i class="fab fa-bitbucket"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/guldblocktree">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/guldcoin">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.reddit.com/r/guldblocktree/">
                                <i class="fab fa-reddit"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UClVwx_qNPp1UmQEjabZWK5A">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.twitch.tv/guldblocktree">
                                <i class="fab fa-twitch"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/guld.io/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="copytext">&copy; Guld. All rights reserved</div>
                </div>
            </div>
        </footer>
        <!-- .footer -->
    </div>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <script>
        // Open all external links in new window 
        		$('a').filter(function () {return this.hostname != window.location.hostname;}).attr('target', '_blank');
    </script>
</body>

</html>
