<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guld Legal Documents</title>

    <meta property="og:url" content="https://guld.legal" />
    <meta property="og:image" content="http://guld.legal/img/og.jpg" />
    <meta property="og:title" content="Guld Legal Documents" />
    <meta property="og:description" content="Open Source, Peer to Peer Legal Documents" />

    <!-- favicon -->
    <link rel="icon" href="/img/favicon.png">
    <meta name="theme-color" content="#000000">

    <!-- web-fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- style css -->
    <link href="/css/legal.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="header d-print-none">
        <!-- Navigation -->
        <nav class="navbar main-menu navbar-expand-sm navbar-light">
            <h1 id="logo">
                <a class="navbar-brand page-scroll" href="/">
                    <span class="logo">
		               <img src="/img/guld_legal.svg" class="img-responsive" alt="Guld Legal">
		           </span>
                </a>
            </h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		   </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
<li class="nav-item"><a class="nav-link" href="../../../../index.html">index</a></li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button" aria-haspopup="true" href="#">contract</a>
<div class="dropdown-menu">
<div class="dropdown-divider"></div>
clause

<div class="dropdown-divider"></div>
USA

<div class="dropdown-divider"></div>
NY

<a class="dropdown-item" href="../../../clause/USA/NY/USA_NY_GULD_DISCLAIMER.html">USA NY GULD DISCLAIMER</a>



<div class="dropdown-divider"></div>
template

<div class="dropdown-divider"></div>
Ethereum

<a class="dropdown-item" href="../../Ethereum/ERC20_GULD_CONTRACT.html">ERC20 GULD CONTRACT</a>
<a class="dropdown-item" href="../../Ethereum/ERC20_HUMAN_CONTRACT.html">ERC20 HUMAN CONTRACT</a>
<a class="dropdown-item" href="../../Ethereum/ETHEREUM_MIGRATION_CONTRACT.html">ETHEREUM MIGRATION CONTRACT</a>

<a class="dropdown-item" href="../../GRANT_BOUNTY_CONTRACT.html">GRANT BOUNTY CONTRACT</a>
<a class="dropdown-item" href="../../GROUP_MEMBERSHIP_AGREEMENT.html">GROUP MEMBERSHIP AGREEMENT</a>
<a class="dropdown-item" href="../../GULD_ADDRESS_REGISTRATION_AGREEMENT.html">GULD ADDRESS REGISTRATION AGREEMENT</a>
<a class="dropdown-item" href="../../GULD_CHAIN_REGISTRATION_AGREEMENT.html">GULD CHAIN REGISTRATION AGREEMENT</a>
<a class="dropdown-item" href="../../GULD_GROUP_REGISTRATION_AGREEMENT.html">GULD GROUP REGISTRATION AGREEMENT</a>
<a class="dropdown-item" href="../../GULD_INDIVIDUAL_REGISTRATION_AGREEMENT.html">GULD INDIVIDUAL REGISTRATION AGREEMENT</a>
<a class="dropdown-item" href="../../GULD_MASTER_AGREEMENT.html">GULD MASTER AGREEMENT</a>
<div class="dropdown-divider"></div>
ledger

<a class="dropdown-item" href="../GULD_LEDGER_REGISTRATION_AGREEMENT.html">GULD LEDGER REGISTRATION AGREEMENT</a>
<a class="dropdown-item" href="../TOKEN_TRANSFER_AGREEMENT.html">TOKEN TRANSFER AGREEMENT</a>
<div class="dropdown-divider"></div>
individual

<a class="dropdown-item" href="30_MIN_1_TOPIC.html">30 MIN 1 TOPIC</a>
<a class="dropdown-item" href="ADVISOR_REVENUE_SHARE.html">ADVISOR REVENUE SHARE</a>
<a class="dropdown-item" href="HODL_REDEMPTION.html">HODL REDEMPTION</a>
<a class="dropdown-item" href="INDIVIDUAL_TOKEN_SALE.html">INDIVIDUAL TOKEN SALE</a>
<a class="dropdown-item" href="PREMIUM_RATE_REDEMPTION.html">PREMIUM RATE REDEMPTION</a>
<a class="dropdown-item" href="PROFESSIONAL_FLEX_REDEMPTION.html">PROFESSIONAL FLEX REDEMPTION</a>
<a class="dropdown-item" href="SELFIE_REDEMPTION.html">SELFIE REDEMPTION</a>
<a class="dropdown-item" href="SHAVE BEARD REDEMPTION.html">SHAVE BEARD REDEMPTION</a>
<a class="dropdown-item" href="SPEECH_REDEMPTION.html">SPEECH REDEMPTION</a>
<a class="dropdown-item" href="TOPLESS_30_MIN_1_TOPIC.html">TOPLESS 30 MIN 1 TOPIC</a>


<div class="dropdown-divider"></div>
trade

<a class="dropdown-item" href="../../trade/INTERNATIONAL_SALE_GOODS_U1000.html">INTERNATIONAL SALE GOODS U1000</a>
<a class="dropdown-item" href="../../trade/SALES-COMMISSION-AGREEMENT.html">SALES COMMISSION AGREEMENT</a>


</div></li>
</ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid">

        <section id="content" class="container">
            <div class="row row-offcanvas row-offcanvas-left">
                <div class="col-12">
                    <div class="room">
                        <p>Effective Date: _______ TIME_START</p>
<ol>
<li>
<p>Parties<br>
1.1. This contract Is between _______ PARTY1_NAME,______ PARTY1_KEY, in LOCATION1, and ____________ PARTY2_NAME,______ PARTY2_KEY located in ____________ LOCATION2.</p>
</li>
<li>
<p>Purpose<br>
2.1 The purpose of this contract is for_______PARTY1_NAME to take a selfie with _______ PARTY2_NAME.</p>
</li>
<li>
<p>Payment<br>
3.1 ____________ PARTY2_NAME agrees to pay _____ PRICE_TOTAL in ______ PARTY1_TOKENS for a selfie.</p>
</li>
<li>
<p>Redemption<br>
4.1 The rate for a selfie is _____ RATE _____ PARTY1_TOKENS per one (1) hour. A selfie can be purchased in three (3) minute increments. The minimum purchase is one (1) increment.<br>
4.2 PARTY2_NAME agrees to purchase a selfie at  _____rate and ____ increments.<br>
4.3 In order to redeem ______ PARTY1_TOKENS, PARTY2_NAME shall sign and submit a proposal to _____PARTY1_EMAIL.<br>
4.4 PARTY1_NAME shall then either approve, veto, or submit a counter-proposal. If a counter-proposal is submitted, the redemption rate shall be fixed at the rate of the original proposal submitted.<br>
4.5 Redemptions are subject to a minimum redemption purchase value. If minimum purchase is not met, the redemption shall be vetoed.</p>
</li>
<li>
<p>Amendments<br>
5.1. Any amendments to this Agreement shall be made in writing and signed cryptographically by both parties, including the amendments to the writing requirement stated in this provision.</p>
</li>
<li>
<p>Unforeseen Circumstances<br>
6.1. A party who is unable to perform a contract due to unforeseeable, unavoidable, and insurmountable circumstances is exempt from liability in part or in whole in light of the impact of the event. Where an event of force majeure occurs after a delay in performance, the party is not exempted from liability.<br>
6.2. If _____ PARTY1_NAME or _____ PARTY2_NAME is unable to perform due to a force majeure event, it shall promptly notify the other party, so as to mitigate the loss that may be caused to the other party.<br>
6.3. The impacted party will use diligent efforts to end the failure or delay and ensure the effects of the Force Majeure event are minimized. The impacted party will resume the performance of its obligations as soon as reasonably practicable after the removal of the cause.</p>
</li>
<li>
<p>Anti-Money Laundering and Counter-Terrorism<br>
7.1. The parties agree that this Agreement shall not be used for any illegal purpose.</p>
</li>
<li>
<p>Arbitration<br>
8.1. All disputes of or related to the formation, performance, or execution of this contract, if not resolved by the parties, shall be submitted to the sole jurisdiction of ______ ARBITRATOR Arbitration and agree to abide by the terms of the award, under the New York Convention on Enforceability.</p>
</li>
<li>
<p>Signature<br>
9.1. Both parties agree to sign this contract with a cryptographic key, unique to each party. By signing this agreement, both parties represent that they are authorized to enter into this agreement.</p>
</li>
</ol>
<p>The parties have executed this agreement on the date and time stated in their cryptographic signatures.</p>
<p>_____ PARTY1_NAME</p>
<p>_____ PARTY1_KEY</p>
<p>_____ PARTY2_NAME</p>
<p>_____ PARTY2_KEY</p>


                    </div>
                </div>
            </div>

        </section>
        <footer class="footer">
            <div class="row">
                <div class="col-12 text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://guld.info">Learn</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://guld.tech">Tech</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://guld.legal">Legal</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://guld.gg">Games</a>
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://t.me/guldblocktree">
                                <i class="fab fa-telegram-plane"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/guldcoin">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://bitbucket.org/guld">
                                <i class="fab fa-bitbucket"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/guldblocktree">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/guldcoin">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.reddit.com/r/guldblocktree/">
                                <i class="fab fa-reddit"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UClVwx_qNPp1UmQEjabZWK5A">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.twitch.tv/guldblocktree">
                                <i class="fab fa-twitch"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/guld.io/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="copytext">&copy; Guld. All rights reserved</div>
                </div>
            </div>
        </footer>
        <!-- .footer -->
    </div>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <script>
        // Open all external links in new window 
        		$('a').filter(function () {return this.hostname != window.location.hostname;}).attr('target', '_blank');
    </script>
</body>

</html>
